/* footer{
    background-color: #131430;
}

footer p{
    text-align: justify;
  }
  
  footer h5{
    text-align: justify;
    color: white;
  } */
  .nav{
    background-color: #e0dcdc;
    border: 1px solid black;
}

.search{
    /* width: 100%; */
    margin-right: 0px;
}

.search input{
    border:1px solid #ccc;
    border-radius: 20px;
    background-color: #e0dcdc;
    width:30px;
    padding-left: 0px;
    transition: all 0.5s;
}

.search input:hover{
    padding-left: 15px;
    width: 120px;
}

.nav-link {
    font-weight: 600;
    transition: all 0.2s;
}

.nav-link:hover{
    scale: 1.1;
    font-weight: 700;
}
