ion-icon {
    font-size: 50px;
  }

.text-muted a{
    text-decoration: none;
}

.card{
    width: 400px;
    color: black;
}

.second-item:hover{
    border:2px solid white;
}

.card .topic{
    font-weight: 600;
}
